[Unit]
Description=Runs the Raspberry Pi Radio

[Service]
Wants=network-online.target
After=network.target network-online.target
User=pi
ExecStart=PATH/radio.py
[Install]
WantedBy=multi-user.target
