[Unit]
Description=Runs the Raspberry Pi Radio

[Service]
Wants=network-online.target
After=network.target network-online.target
User=root
ExecStart=/home/pi/Documents/radio/web.py
[Install]
WantedBy=multi-user.target
