<!DOCTYPE html>
<html>
    <head>
	    <title>
		    PiRadio Home
	    </title>
    </head>
    <body>
	    <center>
		<h1>PiRadio Currently Playing</h1>
		<p>{{playing}}</p>
		<p></p>
		<form action="#" method="post">
		
		<button type="submit" name="state" value="-1"> Previous</button>
		<button type="submit" name="state" value="0">Pause</button>
		<button type="submit" name="state" value="1">Next</button>
		
		</form>
		

		<p>Load More Stations <a href="./station.html">Here</a></p>
		

		<hr/>
	    	<p>
	    	PiRadio is open source and avalible on <a href="https://github.com/Elijah1111/PiRadio">GitHub</a>

	    	</p>
	    </center>
    </body>
</html>

