<!DOCTYPE html>
<html>
    <head>
	    <title>
		    PiRadio Home
	    </title>

	<script>
	function changevol() {	
			var volumeurl = "/volchange?vol="+document.getElementById("vol").value;
			var xmlHttp = new XMLHttpRequest();
    			xmlHttp.onreadystatechange = function() { 
        		if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
				callback(xmlHttp.responseText);
			}
			xmlHttp.open("GET", volumeurl, true); // true for asynchronous 
			xmlHttp.send(null);
		}
	</script>
    </head>
    <body>
	    <center>
		<h1>PiRadio Currently Playing</h1>
		<p>{{playing}}</p>
		<p></p>
		<form action="#" method="post">
		<button type="submit" name="state" value="-1"> Previous</button>
		<button type="submit" name="state" value="0">Pause</button>
		<button type="submit" name="state" value="1">Next</button>	
		</form>
		<div class="slidecontainer">
			<input type="range" min="1" max="100" value={{volume}} class="slider" onchange="changevol()" id="vol">
		</div>	
		

		<p>Load and Play Stations <a href="./station.html">Here</a></p>
		<hr/>
	    	<p>
	    	PiRadio is open source and available on <a href="https://github.com/Elijah1111/PiRadio">GitHub</a>

	    	</p>
	    </center>
    </body>
</html>

