<!DOCTYPE html>
<html>
    <head>
	    <title>
		    PiRadio Stations
	    </title>
    </head>
    <body>
	    <center>
	    	<h1>Loaded PiStations</h1>
		<p>
		These are the stations currently loaded into the Pi, with links to the audio streams.
		</p>
		<hr>
		<ul>
		{% for i in stat %}
		<li><a href={{i[1]}}>{{i[0]}}</a></li>
		<form action="#" method="post">
			<button type="submit" name="station" value={{stat.index(i)}}> Play</button>
		</form>
		{% endfor%}
		</ul>
		<br>	
		

		<p>
			DO SOMETHING ABOUT ADDING
		</p>
		
		<hr/>

		<p>
		Return to <a href="/">Home</a>
                </p>
		<hr/>
	    	<p>
	    	PiRadio is open source and available on <a href="https://github.com/Elijah1111/PiRadio">GitHub</a>
	    	</p>
	    </center>
    </body>
</html>

