<!DOCTYPE html>
<html>
    <head>
	    <title>
		    PiRadio Stations
	    </title>
    </head>
    <body>
	    <center>
	    	<h1>Loaded PiStations</h1>
		
		<hr/>
		{% for i in stat %}
			<p>{{i}}</p>
		{% endfor%}
		<br/>	
		

		<p>
			DO SOMETHING ABOUT ADDING
		</p>
		
		<hr/>

		<p>
		Return to <a href="/">Home</a>
                </p>
		<hr/>
	    	<p>
	    	PiRadio is open source and avalible on <a href="https://github.com/Elijah1111/PiRadio">GitHub</a>
	    	</p>
	    </center>
    </body>
</html>

